
/* Device detail*/

.header-sector {
  padding: 0 0 1rem 0;
  .device-nick {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    h1 {
      font-size: 2.125rem;
    }
    .status-badge {
      margin-left: 10px;
      font-size: 14px;
    }
  }
  .status-badge {
    font-weight: 400;
    font-size: 50%;
    line-height: 1rem;
    margin-left: 0.3em;
  }

  .device-revision-pager {
    display: none;
  }

  .device-revision-pager strong {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 600;
  }

  .device-revision-pager .pagination {
    margin: 0;
  }
}

/* Status Badges blinking */
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
}

.device-detail-main .jumbotron {
  padding: 1rem 1rem 0 1rem;
  font-size: 0.875rem;
}

.device-navigator h3 {
  font-weight: 300;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.device-navigator .nav-tabs {
  margin-bottom: 1rem;
}

.device-navigator .nav-tabs .nav-link {
  border-radius: 0;
  border-color: #ddd;
  cursor: pointer;
}

.device-navigator .nav-tabs .nav-item:first-of-type .nav-link {
  border-radius: 0.25rem 0.25rem 0 0;
}

.device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
  border-radius: 0 0 0.25rem 0.25rem;
}

.device-navigator .table {
  border: none;
  font-size: 0.875rem;

  &.table-no-first-border {
    tbody, thead {
      tr:first-child {
        td, th {
          border-top: 0;
        }
      }
    }
  }
}

.device-navigator .table .expander {
  overflow: hidden;
  max-width: 100%;
}

.tab-content {
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: content-box;
  
  & > .active {
    padding: 0;
    border: 1px solid #ddd;
    border-top: none;
  }
}

/*Navigator readme*/
.readme-wrapper {
  padding: 3rem;
  .readme-inner-wrapper {
    max-width: 800px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
}

// #tab-content-metadata {}

#tab-content-history {
  .table {
    margin-bottom: 0;
    th, td {
      padding: 0.75rem 2rem 0.75rem 1.4rem;
      max-width: 700px;
    }
    th {
      font-weight: normal;
    }
  }
}

.device-tab {
  &__inner {
    padding: 0;
    .tab-title {
      margin-top: 0;
      padding: 1.4rem 1.4rem 0;
    }
  }
}

.device-meta {
  .meta-title {
    margin-top: 0;
    padding: 1.4rem 0 0;
  }
  .table th, .table td {
    padding: 0.5rem;
    vertical-align: middle;
  }

  .table th {
    font-weight: 600;
  }

  .meta-key {
    font-weight: normal;
  }
}

/* Navigator Logs */

.log-wrapper-btn {
  cursor: pointer;
  color: #b3b3b3;
}
.log-wrapper-btn.active {
  color: black;
}

.log-wrapper {
  background-color: black;
}

.log-wrapper .log-row-header {
  font-family: monospace;
  font-size: 0.725rem;
  padding: 0.1rem;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  @media screen and (max-width: 900px){
    width: 200% !important;
  }
}

.log-row-circle {
  margin: 0 5px ;
  display: 'inline-block';
}

.log-row-detail {
  position: relative;
  top: -1px;
}

.log-wrapper .level-debug {
  color: #e9ecef;
}

.log-wrapper .level-info {
  color: lightblue;
}

.log-wrapper .level-warn {
  color: orange;
}

.log-wrapper .level-error {
  color: red;
}

.log-row-header-timestamp {
  font-family: monospace;
  font-size: 0.725rem;
}

.console-filter {
  height: 100%;
}

.console-filter td,.console-filter th {
  padding: 0.25rem;
  cursor: pointer;
}

.console {
  padding: 1rem 0;
}

.console-top {
  padding: 0.5rem 0;
  margin-left: -20px;
}

.console-top-dark-button {
  border-radius: 4px;
  background-color: #eeeeee;
  color: #444444;
}
.console-top-light-button {
  color: #b3b3b3;
}
.console-top-dark-button,.console-top-light-button {
  display: inline-block;
  height: 27px;
  margin: 0 0.25rem;
  padding: 0.25rem;
  font-size: 11px;
  font-family: "Inter";
  font-weight: bold;
  cursor: pointer;
}
.console-top-dark-button i,.console-top-light-button i {
  position: relative;
  top: 1px;
}
.console-top-dark-button span,.console-top-light-button span {
  position: relative;
  top: -2px;
}

.console-filter-option {
  width: 100%;
  margin: 1rem 0;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
}

.console-filter-option-header {
  padding: 0.4rem 0.8rem;
}

.console-filter-option-header-name {
  cursor: pointer;
  font-size: 13px;
  font-family: "Inter";
  font-weight: 500;
  position: relative;
  top: -2px;
}

.console-filter-option-children {
  background-color: #f4f4f4;
  padding: 1rem 1.5rem;
}

.console-filter-option-child-name {
  color: #acacac;
  cursor: pointer;
  line-height: 12px;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 500;
}

.console-filter-option i {
  cursor: pointer;
}

@media only screen and (min-width: 575px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 0.925rem;
  }

  .device-navigator .nav-tabs {
    margin-bottom: 0;
  }

  .device-navigator .nav-tabs .nav-link {
    border: none;
  }

  .device-navigator .nav-tabs .nav-link.active {
    border-radius: 0.25rem 0.25rem 0 0;
    border: 1px solid #ddd;
    border-color: #ddd #ddd var(--white);
    background-color: var(--white);
  }

  .device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}


@media only screen and (min-width: 768px) {
  .device-detail-main .jumbotron {
    padding: 1rem 1.25rem 0 1.25rem;
    font-size: 0.925rem;
  }

  .header-sector .status-badge {
    float: none;
    font-size: 65%;
  }

  .header-sector .device-revision-pager {
    margin-top: 0.3rem;
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .device-detail-main .jumbotron {
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
  }
}


.json-with-clipboard {
  position: relative;

  .hljs {
    max-width: 80vw;

    @media screen and (max-width: 576px) {
      max-width: 93vw;
    }
  }
  
  .json-value-wrapper {
    background-color: var(--white);
    font-size: 0.8rem;

    pre {
      margin-bottom: 0;
    }
  }

  .clipboard-button {
    position: absolute;
    top: 0.5em;
    right: 0;
    margin-right: 0.75rem;
    margin-top: 0.25rem;
  }
}
