.price-selector {
  width: 100%;
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  padding: 0;
  border-radius: 4px;

  .price-selector--border-top-primary {
    border-radius: 4px 4px 0px 0px;
    height: 10px;
    background: linear-gradient(90deg, rgb(44, 216, 177) 0%, rgb(52, 144, 203) 100%); 
  }

  header {
    padding: 2em 2em 1em;
    p {
      margin-top: 1em;
      min-height: 3em;
    }
  }
  .price-content {
    padding: 2em 2em 120px 2em;
    background-color: var(--brown-light);
  }
  .price-amount {
    margin-bottom: 1em;
    small {
      font-size: 0.5em;
      font-weight: normal;
    }
  }

  .submit-area {
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%;
  }
}
