$card-padding: 1em;
$card-margin: 2em;

.price-card {
  padding: $card-padding;
  margin-bottom: $card-margin;
  background: var(--bs-gray-100);
  border: 1px solid var(--primary-color);

  &.active {
    background: var(--bs-gray-100);
    border: 1px solid rgba(var(--bs-success-rgb), 0.4);

    > header {
      background-color: rgba(var(--bs-success-rgb), 0.4);
      h5 {
        color: white;
      }
    }

    > footer {
      button {
        opacity: 0.3;   
      }
    }
  }

  & > header {
    padding: 1em;
    background-color: var(--primary-color);
    margin-top: -$card-padding;
    margin-left: -$card-padding;
    margin-right: -$card-padding;
    h5 {
      padding: 0;
      margin: 0rem;
      color: white;
      font-weight: normal;
    }
  }
}
