.trucated-text {
  position: relative;
  &__full-text {
    z-index: 10000;
    position: absolute;
    top: -0.5em;
    left: 0;
    width: auto;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #3973c3;
    box-shadow: 0 0 1px 0 #30303c;
    pointer-events: none;
  }
}