.oauth2-authorize {
  padding-top: 3em;
  .card {
    padding: 2em 1em 1em;
  }
  h1 {
    font-size: 1.2em;
    font-weight: 300;
    .client-id {
      font-weight: 500;
    }
  }
  h2 {
    font-size: 1em;
  }
  .logo {
    max-width: 100%;
    text-align: center;
    .mdi {
      display: block;
      &:before {
        font-size: 80px;
      }
    }
    .client-id {
      font-weight: 500;
      font-size: 1.5em;
    }
    img {
      max-width: 60%;
    }
  }
  .permissions-title {
    text-align: center;
    margin-bottom: 1em;
  }
  .scopes {
    padding: 0;
    .item {
      display: block;
      padding: 1em;
      border-top: 1px solid white;
      position: relative;
      &:before {
        box-sizing: content-box;
        content: "";
        display: block;
        position: absolute;
        right: 0.5em;
        top: 50%;
        margin-top: -7px;
        width: 12px;
        height: 12px;
        border: 3px solid white;
        border-radius: 100%;
        background-color: var(--primary-color);
      }
    }
    .item:last-child {
      border-bottom: 1px solid white;
    }
  }
  .controls {
    margin-top: 2em;
    text-align: right;
    .btn {
      margin-left: 1em;
      padding-left: 2em;
      padding-right: 2em;
    }
    .btn-secondary {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}